In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.cluster import

In [2]:
df=pd.read_csv('datasets_761595_1314449_msft.csv',sep=",")

In [3]:
print(df.head())

                                                Name  Rating  \
0                                     Dynamic Reader     3.5
1  Chemistry, Organic Chemistry and Biochemistry-...     3.0
2                                         BookViewer     3.5
3                                 Brick Instructions     3.5
4  Introduction to Python Programming by GoLearni...     2.0

   No of people Rated Category        Date Price
0                 268    Books  07-01-2014  Free
1                 627    Books  08-01-2014  Free
2                 593    Books  29-02-2016  Free
3                 684    Books  30-01-2018  Free
4                 634    Books  30-01-2018  Free

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5322 entries, 0 to 5321
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                5321 non-null   object
 1   Rating              5321 non-null   float64
 2   No of people Rated  5322 non-null   int64
 3   Category            5321 non-null   object
 4   Date                5321 non-null   object
 5   Price               5321 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 166.4+ KB
None

## CHECKING THE NULL

In [5]:
for i in df.columns:
    print(f"{i}:{df[i].isnull().sum()}")

Name:1
Rating:1
No of people Rated:0
Category:1
Date:1
Price:1

### CHECKING THE UNIQUE variables

In [6]:
for i in df.columns:
    print(f"{i}:{len(df[i].unique())}")

Name:5318
Rating:10
No of people Rated:899
Category:14
Date:2125
Price:45

In [7]:
print(df.tail())

                               Name  Rating  No of people Rated  \
5317                        JS King     1.0                 720
5318                    MQTTSniffer     2.5                 500
5319  Dev Utils - JSON, CSV and XML     4.0                 862
5320                    Simply Text     4.0                 386
5321                            NaN     NaN                 948

             Category        Date     Price
5317  Developer Tools  19-07-2018  ₹ 269.00
5318  Developer Tools  10-04-2017   ₹ 64.00
5319  Developer Tools  18-11-2019  ₹ 269.00
5320  Developer Tools  23-01-2014  ₹ 219.00
5321              NaN         NaN       NaN

# DROP THE LAST ROWS

In [8]:
df.drop([5321],inplace=True)

In [9]:
print(df.tail())

                               Name  Rating  No of people Rated  \
5316                      Get Color     3.0                 785
5317                        JS King     1.0                 720
5318                    MQTTSniffer     2.5                 500
5319  Dev Utils - JSON, CSV and XML     4.0                 862
5320                    Simply Text     4.0                 386

             Category        Date     Price
5316  Developer Tools  08-08-2019   ₹ 54.50
5317  Developer Tools  19-07-2018  ₹ 269.00
5318  Developer Tools  10-04-2017   ₹ 64.00
5319  Developer Tools  18-11-2019  ₹ 269.00
5320  Developer Tools  23-01-2014  ₹ 219.00

In [10]:
for i in df.columns:
    print(f"{i}:{df[i].isnull().sum()}")

Name:0
Rating:0
No of people Rated:0
Category:0
Date:0
Price:0

### DROP THE UNIQUE COLUMN

In [11]:
df.drop(['Name'],axis=1,inplace=True)

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5321 entries, 0 to 5320
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              5321 non-null   float64
 1   No of people Rated  5321 non-null   int64
 2   Category            5321 non-null   object
 3   Date                5321 non-null   object
 4   Price               5321 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 187.1+ KB
None

### ENCODING TECHNIQUE

### PRICE

In [13]:
df['Price'].unique()

array(['Free', '₹ 144.00', '₹ 54.00', '₹ 99.00', '₹ 219.00', '₹ 269.00',
       '₹ 134.00', '₹ 164.00', '₹ 109.00', '₹ 1,624.00', '₹ 1,099.00',
       '₹ 1,349.00', '₹ 59.00', '₹ 154.00', '₹ 119.00', '₹ 94.00',
       '₹ 69.00', '₹ 139.00', '₹ 189.00', '₹ 549.00', '₹ 79.00',
       '₹ 2,599.00', '₹ 299.00', '₹ 574.00', '₹ 329.40', '₹ 1,521.80',
       '₹ 324.00', '₹ 824.00', '₹ 5,449.00', '₹ 89.50', '₹ 114.00',
       '₹ 194.00', '₹ 319.00', '₹ 624.00', '₹ 2,149.00', '₹ 1,149.00',
       '₹ 434.00', '₹ 279.00', '₹ 209.00', '₹ 699.00', '₹ 1,899.00',
       '₹ 489.00', '₹ 54.50', '₹ 64.00'], dtype=object)

In [14]:
l=(df['Price'].values[5315])

In [15]:
l

'₹ 54.00'

In [16]:
b=l[2:8]

In [17]:
b

'54.00'

In [18]:
df['Price'].replace('Free',0,inplace=True)

In [19]:
df['Price'].unique()

array([0, '₹ 144.00', '₹ 54.00', '₹ 99.00', '₹ 219.00', '₹ 269.00',
       '₹ 134.00', '₹ 164.00', '₹ 109.00', '₹ 1,624.00', '₹ 1,099.00',
       '₹ 1,349.00', '₹ 59.00', '₹ 154.00', '₹ 119.00', '₹ 94.00',
       '₹ 69.00', '₹ 139.00', '₹ 189.00', '₹ 549.00', '₹ 79.00',
       '₹ 2,599.00', '₹ 299.00', '₹ 574.00', '₹ 329.40', '₹ 1,521.80',
       '₹ 324.00', '₹ 824.00', '₹ 5,449.00', '₹ 89.50', '₹ 114.00',
       '₹ 194.00', '₹ 319.00', '₹ 624.00', '₹ 2,149.00', '₹ 1,149.00',
       '₹ 434.00', '₹ 279.00', '₹ 209.00', '₹ 699.00', '₹ 1,899.00',
       '₹ 489.00', '₹ 54.50', '₹ 64.00'], dtype=object)

In [20]:
for i in df['Price'].values:
    if(i!=0):
        l=len(i)
        b=i[2:l+1]
        
        df.replace(i,b,inplace=True)

In [21]:
df['Price'].unique()

array([0, '4.00', '54.00', '99.00', '219.00', '269.00', '134.00',
       '164.00', '109.00', '1,624.00', '1,099.00', '1,349.00', '59.00',
       '154.00', '119.00', '94.00', '69.00', '139.00', '189.00', '549.00',
       '79.00', '2,599.00', '299.00', '574.00', '329.40', '1,521.80',
       '324.00', '824.00', '5,449.00', '89.50', '114.00', '194.00',
       '319.00', '624.00', '2,149.00', '1,149.00', '434.00', '279.00',
       '209.00', '699.00', '1,899.00', '489.00', '54.50', '64.00'],
      dtype=object)

In [22]:
l='1,234.00'

In [23]:
j=float(l.replace(',',''))

In [24]:
j

1234.0

In [25]:
for i in df['Price'].unique():
    if(i!=0):
        flag=0
        for ii in i:
            if(ii==','):
                flag=1
                break
        if(flag==1):
            df.replace(i,float(l.replace(',','')),inplace=True)
        else:
            df.replace(i,float(i),inplace=True)

In [26]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5321 entries, 0 to 5320
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              5321 non-null   float64
 1   No of people Rated  5321 non-null   int64
 2   Category            5321 non-null   object
 3   Date                5321 non-null   object
 4   Price               5321 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 207.9+ KB
None

### Date

In [27]:
print(len(df['Date'].unique()))

2124

In [28]:
new_df=df['Date'].value_counts().head(10).index

In [29]:
for categories in new_df:
    df[categories]=np.where(df['Date']==categories,1,0)

In [30]:
df.drop(['Date'],axis=1,inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5321 entries, 0 to 5320
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              5321 non-null   float64
 1   No of people Rated  5321 non-null   int64
 2   Category            5321 non-null   object
 3   Price               5321 non-null   float64
 4   30-01-2018          5321 non-null   int32
 5   09-08-2014          5321 non-null   int32
 6   29-01-2018          5321 non-null   int32
 7   29-08-2016          5321 non-null   int32
 8   08-09-2018          5321 non-null   int32
 9   22-02-2018          5321 non-null   int32
 10  10-03-2014          5321 non-null   int32
 11  10-01-2013          5321 non-null   int32
 12  06-03-2017          5321 non-null   int32
 13  16-04-2018          5321 non-null   int32
dtypes: float64(2), int32(10), int64(1), object(1)
memory usage: 394.9+ KB

### Category

In [32]:
len(df['Category'].unique())

13

In [33]:
C=pd.get_dummies(df['Category'],drop_first=True)

In [34]:
df=pd.concat([C,df],axis=1)

In [35]:
df.drop(['Category'],axis=1,inplace=True)

In [36]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5321 entries, 0 to 5320
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Business                 5321 non-null   uint8
 1   Developer Tools          5321 non-null   uint8
 2   Food and Dining          5321 non-null   uint8
 3   Government and Politics  5321 non-null   uint8
 4   Health and Fitness       5321 non-null   uint8
 5   Kids and Family          5321 non-null   uint8
 6   Lifestyle                5321 non-null   uint8
 7   Multimedia Design        5321 non-null   uint8
 8   Music                    5321 non-null   uint8
 9   Navigation and Maps      5321 non-null   uint8
 10  News and Weather         5321 non-null   uint8
 11  Social                   5321 non-null   uint8
 12  Rating                   5321 non-null   float64
 13  No of people Rated       5321 non-null   int64
 14  Price                    5321 non-null   float64
 15  30-01-2018               5321 non-null   int32
 16  09-08-2014               5321 non-null   int32
 17  29-01-2018               5321 non-null   int32
 18  29-08-2016               5321 non-null   int32
 19  08-09-2018               5321 non-null   int32
 20  22-02-2018               5321 non-null   int32
 21  10-03-2014               5321 non-null   int32
 22  10-01-2013               5321 non-null   int32
 23  06-03-2017               5321 non-null   int32
 24  16-04-2018               5321 non-null   int32
dtypes: float64(2), int32(10), int64(1), uint8(12)
memory usage: 436.5 KB
None

### CORRELATION (FEATURE SELECTION)

In [37]:
corr_matrix=df.corr()

In [38]:
corr_matrix['Price'].sort_values(ascending=False)

Price                      1.000000
Developer Tools            0.106706
Business                   0.086354
22-02-2018                -0.005526
10-03-2014                -0.005526
06-03-2017                -0.005526
16-04-2018                -0.005526
10-01-2013                -0.005526
08-09-2018                -0.005772
29-08-2016                -0.006009
29-01-2018                -0.006236
09-08-2014                -0.007643
Government and Politics   -0.014018
30-01-2018                -0.015470
Multimedia Design         -0.018205
No of people Rated        -0.019661
Navigation and Maps       -0.020961
Food and Dining           -0.021788
Social                    -0.031119
Kids and Family           -0.031970
News and Weather          -0.038363
Lifestyle                 -0.038755
Health and Fitness        -0.040256
Music                     -0.049295
Rating                    -0.132802
Name: Price, dtype: float64

### DIFFERENTIATE THE FEATURES AND LABELS

In [39]:
x=df.drop(['Price'],axis=1)

In [40]:
y=df['Price']

## TRAIN_TEST_SPLIT

In [41]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [42]:
print(X_train.shape)

(4256, 24)

In [43]:
print(Y_train.shape)

(4256,)

## FEATURES SCALING

In [44]:
X_train=scale(X_train)

In [45]:
X_test=scale(X_test)

## SELECT A MODEL AND TRAIN A MODEL

In [46]:
#model=RandomForestRegressor()
model=LinearRegression()

In [47]:
model.fit(X_train,Y_train)

LinearRegression()

In [48]:
some_data1=X_train[0:5,:]

In [49]:
some_data2=Y_train.iloc[0:5]

In [50]:
print(some_data2.values)

[0. 0. 0. 0. 0.]

In [51]:
predictions=model.predict(some_data1)

In [52]:
predictions

array([  9.40645121,  19.98384107,   5.6503488 , -11.17008448,
        60.27794928])

In [53]:
mse=mean_squared_error(predictions,some_data2)

In [54]:
rmse=np.sqrt(mse)

In [55]:
rmse

29.25051666671691

### PERFORMANCE MEASURE ON TEST DATA

In [56]:
pred=model.predict(X_test)

In [57]:
t_mse=mean_squared_error(pred,Y_test)

In [58]:
t_rmse=np.sqrt(t_mse)

In [59]:
t_rmse

91.84169895216336